body{
	background-color: #FFF;
	padding: 0px;
	height: 100%;
}
tr{
	font-size:75%;
}
table.table-bordered{
	border:1px solid gray;
	margin-top:20px;
}
table.table-bordered > thead > tr > th{
	border:1px solid gray;
}
table.table-bordered > tbody > tr > td{
	border:1px solid gray;
}